<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="server=localhost;uid=accelerateUqy0p;pwd=&quot;;#.qCeB]i?IH&quot;;Database=accelerate4" name="accelerate4" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules/>
    </rewrite>
  </system.webServer>
</configuration>
